<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css">
  <script src="https://files.kaiten.ru/web-sdk/v1.min.js"></script>
</head>

<body>
  <div id="settingsContent">
    <label for="show-date">Show Date</label>
    <input type="checkbox" id="show-date">

    <label for="show-test-button">Show Test Button</label>
    <input type="checkbox" id="show-test-button">

    <button id="submit">Submit settings</button>

  </div>
  <script src="js/spaceSettings.js"></script>
</body>

</html> 
