
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css">
  <script src="https://files.kaiten.ru/web-sdk/v1.min.js"></script>
  <link href="https://files.kaiten.ru/web-sdk/v1.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:700,300,600,800,400&subset=cyrillic,cyrillic-ext,latin" />
</head>

<body>
  <div id="secondPopupContent">
    <p>It simply demonstates how to open popup inside popup</p>
    <div style="display: flex; justify-content: flex-end; margin-top: 8px;">
      <button id="close" class="addon-btn" style="width: 100%;">Close test popup</button>
    </div>
  </div>

  <script src="js/secondPopup.js"></script>
</body>

</html>
